.container {
    width: 100%;
    min-height: 70vh;
}

.colors_container {
    width: 95%;
    min-height: 70vh;
    background-color: #555;
    border: 0.3vw solid #111;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.colored_div {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 0.3vw solid #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copy_btn_wrapper > i, .lock_btn_wrapper > i {
    color: #111;
    font-size: 0.75em;
}

.copy_btn_wrapper {}

.color_label {
    font-size: 1em;
}
