body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.container {
    width: 100%;
    min-height: 100vh;
}

.colors_container {
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #555;
    border: 6px solid #111;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.colored_div {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* border: 0.3vw solid #111; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colored_div * {
    color: inherit;
}

.copy_btn_wrapper > i, .lock_btn_wrapper > i {
    /* color: #111; */
    font-size: 2.25rem;
}

.copy_btn_wrapper {}

.color_label {
    font-size: 2.5rem;
}

.lock_btn_wrapper, .copy_btn_wrapper {
    cursor: pointer;
}

.copy_label { /* the label that appears up whenever the user copied one of the colors */
    font-size: 1rem;
    text-align: center;
    display: inline;
    width: 100%;
    position: fixed;
    bottom: 16px;
    margin: 0 auto;
    animation: copy_label_fade_up 2s 1 forwards;
}

@keyframes copy_label_fade_up {
    0% {
        transform: translateY(0px);
        opacity: 0.3;
    }
    90% { opacity: 0; }
    100% {
        transform: translateY(-32px);
        opacity: 0;
    }
}

.randomizeWrapper {
    display: flex;
    flex-direction: column;
    
    overflow: hidden;
    position: fixed;
    --width: 12vw;
    width: var(--width);
    --aspectRatio: 6;
    aspect-ratio: var(--aspectRatio) / 1;
    background-color: #555;
    border-radius: 0 0 35px 0;
    border: 6px solid #111;
    top: 0;
    left: 0;
}

.randomizeWrapper:hover {
    aspect-ratio: unset;
}

.randomizeWrapper > i {
    font-size: calc(var(--width) / var(--aspectRatio));
    position: absolute;
    right: 5%;
    top: 50%;
    translate: 0 -50%;
    z-index: 100;
}

.randomType {
    padding: 0 0 0 4px;
    font-size: 1.25rem;
    color: #000;
    min-height: calc(var(--width) / var(--aspectRatio));
}

.randomType.active {
    background-color: #333;
}

.randomizeWrapper:hover .randomType:hover {
    background-color: #333;
    cursor: pointer;
}

@media screen and (width <= 1000px) {
    .randomizeWrapper {
        --width: 22.5vw;
    }

    .randomType {
        font-size: 1.2rem;
    }

    .color_label {
        font-size: 2rem;
    }
}